.cardContainer {
    width: 200px;
    margin: 0 auto 10px auto;
    padding: 5px 5px 5px 10px;
    color: white;
    background-color: #aeaeae;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: relative;
}

.cardTitle {
    text-align: left;
}

.restoreIcon {
    position: absolute;
    top: 5px;
    right: 35px;
    cursor: pointer;
}

.deleteIcon {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}