.addCardPlus {
    padding: 5px;
    background-color: #F2D0CB;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addCardInput {
    margin-bottom: 10px;
}
.closeCardForm {
    cursor: pointer;
}