.cardWrapper {
    position: relative;
}

.listCardCover {
    width: 100%;
    height: 100px;
    object-fit: cover;
    margin-top: 5px;
}

.editCardIcon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.imageCardCover {
    width: 100%;
    height: 100px;
    object-fit: contain;
    background-color: #f0f0f0;
    padding: 10px 0;
}

.buttonArchive {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.buttonArchiveIcon {
    padding-left: 5px;
}