.container {
    display: flex;
}

.board {
    width: 200px;
    height: 100px;
    margin-right: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    position: relative;
    transition: background-color 0.2s ease-in-out;
}

.availableBoard {
    color: #fff;
    background-color: #489992;
}

.addBoard {
    color: #489992;
    background-color: white;
}

.availableBoard:hover {
    background-color: #109786;
}

.addBoard:hover {
    background-color: #fff3f1;

}