.workspaceContainer {
    display: flex;
}

.workspaceBoard {
    width: 200px;
    height: 100px;
    margin-right: 10px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
    background-color: #0E8777;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.workspaceAddBoard {
    background-color: white;
    color: #0E8777;
}