.header {
    height: 50px;
  /*  background-color: #0E8777;*/
    background-color: #489992;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/*.buttonMenu {
    width: 69px;
    position: absolute;
    right: 10px;
}*/
.buttonLogout {
    position: absolute;
    right: 10px;
}